# ano
.build_ano

# kicad
# temp files
*.bak
*.bck
*.kicad_pcb-bak
*-cache.lib
# *-rescue.lib
ftp-lib-table
board/_autosave*

# zipped up gerbers
board/gerbers/*.zip

# for external tools
*.dsn

# swap files
*.swp
*~

# platformio ignores
.pioenvs
.sconsign.dblite

# don't need case/*.eps files
case/*.eps
